{% if "aks_cluster_name" in data  %}aks cluster name: `{{ data['aks_cluster_name']['value'] }}`{% endif %}
{% if "cluster_node_resource_group" in data %}cluster node resource group: `{{ data['cluster_node_resource_group']['value'] }}`{% endif %}
