{% if data != {} %}
| Name | value |
| ---- | ----- |
{% for prop in data%}
{% if 'sensitive' not in data[prop] or ('sensitive' in data[prop] and data[prop]['sensitive'] == false ) %}| **{{ prop }}** | `{{data[prop]['value']}}` |{% endif %}
{% endfor %}
{% endif %}
